<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FileHelpers" version="3.1.5" targetFramework="net40" />
  <package id="ILMerge" version="2.13.0307" targetFramework="net40" />
  <package id="MSBuild.ILMerge.Task" version="1.0.5" targetFramework="net40" />
  <package id="Yeppp.CLR.Bundle" version="1.0.1-prerelease" targetFramework="net40" />
</packages>